<h1>Viewing Party Lite</h1>
<% if current_user %>
  <%= form_with url: logout_path, method: :post do %>
    <%= submit_tag 'Log Out', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <%= form_with url: new_user_path, method: :get do %>
    <%= submit_tag 'Create New User', class: 'btn btn-primary' %>
  <% end %>
  <%= form_with url: login_path, method: :get do %>
    <%= submit_tag 'User Sign In', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if current_user %>
  <h2>List of Existing Users</h2>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.email %> </li>
    <% end %>
  </ul>
<% else %>

<% end %>

